#app
  .destino
    form(action='', method='post')
      //button(type="submit") Enviarm
      
  .anchoTotal(v-for="(i, j1) in tot")
    input(type="checkbox", v-model="borrar") 
    p Borrar:
    p _
    p _   
    button(v-on:click="n_articulo()" ) Nuevo Artículo 
    p ---j1:{{j1}} -&&- {{i}}
    p ----nombre-----ref_fabricante-----pvp------p_coste-----fabricante---descripción
    input.p_float(type="checkbox", v-model="tot[j1].visible")
    button(v-on:click="delete_articulo(j1)" v-if="borrar && tot[j1].visible"
    class="backgroundRed") &times delete_articulo
    
    label(v-bind:for="tot[j1].id.nombre") Nombre
    input( v-model="tot[j1].datos.nombre" 
    v-bind:id="tot[j1].id.nombre"
    placeholder="nombre"
    v-on:keyup.enter="moverFoco3(tot[j1].id.ref_fabricante)")
    p
    label(v-bind:for="tot[j1].id.ref_fabricante" v-if="tot[j1].visible") ref_fabricante 
    input( v-model="tot[j1].datos.ref_fabricante" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.ref_fabricante"   placeholder="ref_fabricante"
    v-on:keyup.enter="moverFoco3(tot[j1].id.pvp)")
    p
    label(v-bind:for="tot[j1].id.pvp" v-if="tot[j1].visible") pvp
    input( v-model="tot[j1].datos.pvp" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.pvp" placeholder="pvp" 
    v-on:keyup.enter="moverFoco3(tot[j1].id.p_coste)")
    p
    label(v-bind:for="tot[j1].id.p_coste" v-if="tot[j1].visible") p_coste
    input( v-model="tot[j1].datos.p_coste" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.p_coste" placeholder="p_coste" 
    v-on:keyup.enter="moverFoco3(tot[j1].id.fabricante)")
    p
    label(v-bind:for="tot[j1].id.fabricante" v-if="tot[j1].visible") fabricante
    input( v-model="tot[j1].datos.fabricante" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.fabricante" placeholder="fabricante"
    v-on:keyup.enter="moverFoco3(tot[j1].id.descripcion)")
    p
    label(v-bind:for="tot[j1].id.descripcion" v-if="tot[j1].visible") descripcion
    input( v-model="tot[j1].datos.descripcion" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.descripcion" placeholder="descripcion"
    v-on:keyup.enter="moverFoco3(tot[j1].id.categoria)")
    p
    label(v-bind:for="tot[j1].id.categoria" v-if="tot[j1].visible") categoria
    input( v-model="tot[j1].datos.categoria" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.categoria" placeholder="categoria"
    v-on:keyup.enter="moverFoco3(tot[j1].id.imagen)")
    p
    label(v-bind:for="tot[j1].id.imagen" v-if="tot[j1].visible") imagen
    input( v-model="tot[j1].datos.imagen" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.imagen" placeholder="imagen" 
    v-on:keyup.enter="moverFoco3(tot[j1].id.visible)")
    p
    label(v-bind:for="tot[j1].id.visible" v-if="tot[j1].visible") visible
    input( v-model="tot[j1].datos.visible" v-if="tot[j1].visible"
    v-bind:id="tot[j1].id.visible" placeholder="visible")
    
    
    p
    button(v-on:click="color(i,j1)" v-if="tot[j1].visible") color
    p 
    button(v-on:click="talla_zapatos(i,j1)" v-if="tot[j1].visible") talla_zapatos
    button(v-on:click="talla_numeros(i,j1)" v-if="tot[j1].visible") talla_32_34_36
    button(v-on:click="talla_letras(i,j1)" v-if="tot[j1].visible") talla_XS_5XL
    button(v-on:click="talla_unica(i,j1)" v-if="tot[j1].visible") talla_UNICA
    p
    button(v-on:click="n_atributo(i,j1)" v-if="tot[j1].visible") n_atributo
    button(v-on:click="crear_variaciones(i,j1)" v-if="tot[j1].visible" class="backgroundBlue") crear_variaciones
    button(v-on:click="crear_csv(i,j1)" v-if="tot[j1].visible" class="backgroundGreen") crear_csv
    
    .atributo(v-for="(j, j2) in i.atributo" v-if="tot[j1].visible")
      p ---j2:{{j2}}--{{j}}
      input.p_float(type="checkbox", v-model="tot[j1].atributo[j2].visible")
      button(v-on:click="delete_n_atributo(j1,j2)" v-if="borrar"
      class="backgroundRed") &times delete_n_atributo
      input( v-model="tot[j1].atributo[j2].nombre" placeholder="Nombre:Color/Talla")
      input( v-model="tot[j1].atributo[j2].valor_defecto" placeholder="valor por defecto")
      button(v-on:click="nuevo_valor_atributo(j1,j2)" ) nuevo_valor_atributo      
      .valor_atributo(v-for="(k, j3) in j.valores" 
      v-if="tot[j1].atributo[j2].visible")
        p ---j3:{{j3}}--{{k}}
        button(v-on:click="delete_valor_atributo(j1,j2,j3)" v-if="borrar"
        class="backgroundRed") &times delete_valor_atributo
        
        //input(ref="colores" v-on:keyup.enter="encajar_atributo(j1,j2,j3)" v-model="tot[j1].atributo[j2].valores[j3].valor" placeholder="valor")
        
        //input(ref="colores"  v-model="tot[j1].atributo[j2].valores[j3].valor" placeholder="valor")
        
        input(  v-model="tot[j1].atributo[j2].valores[j3].valor"
        v-bind:id="tot[j1].atributo[j2].valores[j3].id" placeholder="valor"
        v-on:keyup.enter="encajar_atributo_y_foco_(j1,j2,j3)")
        
        button(v-on:click="encajar_atributo (j1,j2,j3)" ) &plusmn encajar_atributo
    //visualizando las variaciones
    //input.p_float(type="checkbox", v-model="tot[j1].variaciones[j2].visible")
    p zzzzzzzzzzzzzzzzzzzzzzzz
    .atributo(v-for="(j, j2) in i.variaciones" v-if="tot[j1].visible")
      p ---j2:{{j2}}--{{j}}  
      p _
      p {{j.a}}___{{j.b}}
      button(v-on:click="delete_n_variaciones(j1,j2)" v-if="borrar"
      class="backgroundRed") &times delete_variaciones
      input( v-model="tot[j1].variaciones[j2].stock" )
      input( v-model="tot[j1].variaciones[j2].etiquetas" )
      
      
      
      
      
    
    
  #headerimage
  #invoice.effect2    
    #invoice-bot
     
      
      #table
        tr.tableform
          td.subtotal
             button(v-on:click="n_articulo()" ) Nuevo Artículo
          td.tableform
            p Borrar:
            input(type="checkbox", v-model="borrar") 
        table
          tr.service(v-for="(i, j1) in tot")
            td.service(v-for="(j, j2) in i.horario")  
               <!--
                 p.itemtext i:{{i.horario}} j1:{{j1}} 
                 p.itemtext j:{{j}} j2:{{j2}}
          
          
          
          
          tr.tableform
            p {{tot}} // aquí hace la mágia de la tabla
          tr.service(v-for="(i, j1) in tot")
            td.tableitem
              h2 datos
               input(type="checkbox", v-model="i.visible")
              p.itemtext {{ i.datos }} - {{j1}} - {{i.visible}} aaa
              input( v-model="i.datos") 
            td.tableitem
              h2 horario
              input(type="checkbox", v-model="segundos")
              p.itemtext(v-if="i.visible") {{ i.horario }}
              input( v-model="i.horario") 
            td.tableitem
              h2 parada
              p.itemtext {{ i.parada }}
              input( v-model="i.parada") 
            td.tableitem
             button(v-on:click="n_horario(j1)" ) n_horario
              
             
          tr.tableform
            td.number
             h2 nueva tanda de horarios                 
            td.subtotal
             button(v-on:click="addTanda" v-if="segundos") AddTanda
          tr.tableform
              p.itemtext éste es el vector completo {{ tanda }}
          tr.service(v-for="(i,key) in tanda")
            td.tableitem
              h2 h
              p.itemtext {{ i.h }}
              input(type="number", v-model="i.h") 
            td.tableitem
              h2 m
              p.itemtext {{ i.m }}
              input(type="number", v-model="i.m")
            td.tableitem
              h2 s
              p.itemtext {{ i.s }}
              input(type="number", v-model="i.s")
            td.tableitem
              h2 dias
              p.itemtext {{ i.dias }}
              input(type="text", v-model="i.dias")  
            td.tableitem
              h2 fecha
              p.itemtext {{ i.fecha }}
              input(type="text", v-model="i.fecha")
            td.subtotal
              button(@click='_delete(key)') &times            
              button(v-on:click="addH(key)") AddH &plusmn
              
            td.tableitem              
              p.itemtext(v-for="(j,jkey) in i.hours") {{ tanda[key].hours[jkey] }}  </br>
                button(@click='delete_h(key,jkey)') 	&times               
                input( v-model="tanda[key].hours[jkey].h")                
                input( v-model="tanda[key].hours[jkey].m") 
                button(@click='add_h(key,jkey)') &plusmn 
          tr.tableform
            td.number
              input(type="number", v-model="fixItem.number")
            td.min
              input(type="number", v-model="fixItem.min")
            td.seg
              input(type="number", v-model="fixItem.seg")
            td.par_id
              input(type="text", v-model="fixItem.par_id")
            td.par
              input(type="text", v-model="fixItem.par")  
            td.lat
              input(type="text", v-model="fixItem.lat")  
            td.long
              input(type="text", v-model="fixItem.long")  
            td.conect
              input(type="text", v-model="fixItem.conect")    
          
          tr.tabletitle
            td.number
              h2 Delete 
            td.min
              h2 min
            td.seg
              h2 seg
            td.par_id
              h2 par_id
            td.par
              h2 par
            td.lat
              h2 lat
            td.long
              h2 long
            td.conect
              h2 conect
            td.subtotal
              h2 Sub-total
              
          tr.tableform
            td.number
               
            td.min
              input(type="number", v-model="newItem.min")
            td.seg
              input(type="number", v-model="newItem.seg")
            td.par_id
              input(type="text", v-model="newItem.par_id")
            td.par
              input(type="text", v-model="newItem.par")  
            td.lat
              input(type="text", v-model="newItem.lat")  
            td.long
              input(type="text", v-model="newItem.long")  
            td.conect
              input(type="text", v-model="newItem.conect")    
            td.subtotal
              button(v-on:click="addItem") Add
          
          tr.service(v-for="(i,key) in items")
            td.tableitem
               button(@click='delete_par(key)') 	&times 
            td.tableitem
              p.itemtext {{ i.min }}
              input(type="number", v-model="i.min")
            td.tableitem
              p.itemtext {{ i.seg }}
              input(type="number", v-model="i.seg")
            td.tableitem
              p.itemtext {{ i.par_id }}
              input(type="text", v-model="i.par_id")
            td.tableitem
              p.itemtext {{ i.par }}
              input(type="text", v-model="i.par")  
            td.tableitem
              p.itemtext {{ i.lat }}
              input(type="text", v-model="i.lat")  
            td.tableitem
              p.itemtext {{ i.long }}
              input(type="text", v-model="i.long")    
            td.tableitem
              p.itemtext {{ i.conect }}
              input(type="text", v-model="i.conect")  
              button(@click='add_par(key)') &plusmn
            td.tableitem
              p.itemtext {{ parseInt(i.min) * parseInt(i.seg) }}
          
          tr.tabletitle(v-show="total > 0")
            td
            td
            td
            td
            td
            td
            td
            td.min
              h2 Total
            td.payment
              h2 {{ total }} -- {{ tot}}
      #legalcopy
        p.legal 
        //p {{tot}}
        input( v-model="tot") 